.movies {
    border-style: outset;
    border-color: #420080;
    padding: 10px;
    box-shadow: 5px 3px 7px 2px;
    position: relative;
    text-align: center;
}

.poster {
   display: inline-block;
   padding-bottom: 0px;
   backface-visibility: hidden;
   opacity: 1;
   transition: .3s ease-in;
}

.poster:hover {
    box-shadow: 0px 0px 15px #420080;
    opacity: .7;
}

.edit:hover {
    opacity: 1;
}

.edit {
    color: white;
    font-size: 40px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* opacity: 0; */
   text-align: center;
   opacity: 0;
   padding: 75px;
   cursor: pointer;
}